{% extends 'base.html' %}
{% block content %}
    <hi>로그인</hi>
    <form method="Post" action="{% url 'login' %}">
    {% csrf_token %}
        <br>
        <br>
        {% if error %}
            <p>{{error}}</p>
            <br>
        {% endif %}
        <h3>사용자이름</h3>
        <input name="username" type="text">
        <br>
        <br>
        <h3>비밀번호</h3>
        <input name="password" type="password">
        <br>
        <br>
        <input type="submit" valve="제출하기">
    </form>
{% endblock %}
